# Python
__pycache__/
*.py[cod]
*.so
.venv/
.env

# Distribution
dist/
build/
*.egg-info/

# Tools & Caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
.coverage
htmlcov/

# Benchmark data
benchmarks/data/*.csv
benchmarks/data/*.parquet

# Editors & IDEs
.idea/
.vscode/
*.swp
.DS_Store

# User specific source setups
# You can put anything here that needs to be done to prepare your env.
.user_env.*
